<h3>There are <%= @contacts.count %> contacts</h3>

  <% @contacts.each do |contact| %>
<div class="contact">  
  <p> <%= contact.full_name %> (<%= contact.email %>)</p>
  <p> <%= contact.note %> </p>
</div>

  <% end %>
