<h1>Create new Contact</h1>

<form action='/contacts' method='post'>
  <label for="first_name">First name:</label>
  <input id = "first_name" type='text' name='first_name'>

  <label for="last_name">Last name:</label>
  <input type='text' id='last_name' name='last_name'>

  <label for="email">Email:</label>
  <input type='text' id = "email" name='email'>

  <label for="note">Note:</label>
  <input type='text' id = 'note' name='note'>

  <input type='submit' value='New Contact'>
</form>
